.tweet{
    display: flex;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
    align-items: center;
    overflow: hidden;
    padding: 8px 4px;
}

.tweet img{
    margin: 12px 12px;
}

.tweet-data{
    width: 100%;
    padding-right: 12px;
}

.tweet-data h3{
    margin: 0px;
}

.tweet-data p{
    word-break: break-all;
    margin: 8px 0px;
}

.tweet .tweet-time-ago{
    float: right;
    margin: 0px 4px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.514);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 0.7em;
}

.tweet-buttons{
    display: flex;
    margin: 4px 0px;
    padding: 0;
}

.tweet-buttons i{
    color: rgba(0, 0, 0, 0.342);
    margin: 0px 12px;
    font-size: 1em;
}

.tweet-buttons i:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.705);
}

.fav-icon{
    color: rgb(255, 208, 0) !important;
    animation: 0.2s favIcon;
}

@keyframes favIcon{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.retweeted-text{
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.521);
    margin: 0;
    padding: 0;
}

.success-retweet{
    font-size: 1em;
    position: fixed;
    z-index: 1000;
    top: 10vh;
    right: 4vw;
    border: 1px solid rgb(1, 160, 1);
    border-radius: 6px;
    padding: 12px;
    margin: 12px 0px;
    background-color: rgba(0, 170, 0, 0.308) !important;
    color: rgba(2, 92, 2, 0.795);
    font-weight: 200;
    animation: showSuccessRetweet 0.6s;
}

@keyframes showSuccessRetweet{
    0%{
        transform: translate(100%);
        opacity: 0;
    }
    100%{
        transform: translate(0%);
        opacity: 1;
    }
    0%{
        transform: translate(100%);
        opacity: 0;
    }
}

